<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/portrait_edited.jpg" alt="P" />
    </div>

    {{>footer}}
  </body>
</html>