<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this site to get your weather</p>

      <form>
        <input type="text" placeholder="Enter location">
        <button id="get-weather-button" class="button">Get Weather</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
  </body>
</html>